@charset 'UTF-8';

/* Paleta de cores: 
    Verde: #49a09d
    Lilás: #5f2c82 */

* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}


html, body {
    background-color: #49a09d;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
    overflow: hidden;

    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

#imagem {
    background: #5f2c82 url(../imagens/imagem-login.jpg);
    background-size: cover;
    height: 200px;
}

#formulario {
    padding: 10px;
}

#formulario > h1 {
    text-align: center;
}

#formulario > p {
    font-size: 0.8em;
    padding: 8px;
}

.campo {
    background-color: #5f2c82;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
    border: 2px solid #5f2c82;
}

.campo > label {
    display: none;
}

.campo > span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

.campo > input {
    background-color: #5bc4c0;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-12px);
}

.campo > input:focus-within {
    background-color: white;
}

#entrar {
    font-size: 1em;
    background-color: #49a09d;
    color: white;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
}

#entrar:hover {
    background-color: #2a5e5c;
    cursor: pointer;
}

#esqueci-a-senha {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    text-align: center;
    background-color: white;
    color: #2a5e5c;
    border: 1px solid #6dcecb;
    border-radius: 5px;
    text-decoration: none;
}

#esqueci-a-senha:hover {
    background-color: #65c5c2;
}

#esqueci-a-senha > span {
    font-size: 0.8em;
}